<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
    </head>
    <body bgcolor="#000000">
        <div id=totalReturn></div>
        <div id=IRR></div>
        <div id=yearRegularSavingPlanIRR></div>
        <div id=totalReturnPassiveVsActive></div>
        <div id=annualReturn></div>
        <div id=annualReturnPassiveVsActive></div>
        <div id=rollback></div>
        <div id=rollbackVolin></div>
        <div id=retire></div>
        <div id=retire_separate></div>
        <div id=correlation style="display: flex">
            <div id=correlationClose></div>
            <div id=correlationAdjClose></div>
        </div>
        <div id=dailyReturn style="height: 1200px;"></div>
        
        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
        {% for key,item in plots.items() %}
        <script src="./{{jsfolder}}/{{key}}.js"></script>
        {%- endfor %} 

        <script>
            window.onload = function() {
                window.dispatchEvent(new Event('resize'));
            };
        </script>
    </body>
</html>