<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
    </head>
    <body bgcolor="#000000">
        <h1 style="color: white;text-align: center;">指數</h1>
        <div id=消費者物價基本分類指數_原始值></div>
        <div id=消費者物價基本分類指數_IRR></div>
        <div id=消費者物價基本分類指數_年增率></div>
        <div id=生產者物價基本分類指數_原始值></div>
        <div id=生產者物價基本分類指數_IRR></div>
        <div id=生產者物價基本分類指數_年增率></div>
        <div id=躉售物價基本分類指數_原始值></div>
        <div id=躉售物價基本分類指數_IRR></div>
        <div id=躉售物價基本分類指數_年增率></div>
        
        <h1 style="color: white;text-align: center;">所得支出</h1>
        <h2 style="color: white;text-align: center;">整體</h2>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_當期價格></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_當期價格></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_連鎖實質值></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_連鎖實質值></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_平減指數></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_平減指數></div>
        <div id=國民所得統計_常用資料_季_原始值></div>
        <div id=國民所得統計_常用資料_季_年增率></div>

        <div id=家庭收支調查_戶數五等分位之平均每戶所得總額></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶非消費支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶可支配所得></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶消費支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶經常性支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶儲蓄></div>
        <div id=家庭收支調查_戶數五等分位組之平均每戶人口數></div>
        <div id=家庭收支調查_戶數五等分位組之平均每戶就業人數></div>
        <div id=家庭收支調查_所得收入者五等分位平均每人可支配所得></div>

        <div id=家庭收支調查_家庭組織型態別平均每戶所得總額></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶非消費支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶可支配所得></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶消費支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶經常性支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶儲蓄></div>
        <div id=家庭收支調查_性別統計指標_家戶狀況按家庭組織型態分></div>

        <div id=家庭收支調查_各縣市別平均每戶所得總額></div>
        <div id=家庭收支調查_各縣市別平均每戶非消費支出></div>
        <div id=家庭收支調查_各縣市別平均每戶可支配所得></div>
        <div id=家庭收支調查_各縣市別平均每戶消費支出></div>
        <div id=家庭收支調查_各縣市別平均每戶經常性支出></div>
        <div id=家庭收支調查_各縣市別平均每戶儲蓄></div>

        <div id=家庭收支調查_所得收入者各縣市別平均每人所得收入總計></div>
        <div id=家庭收支調查_所得收入者各縣市別平均每人非消費支出></div>
        <div id=家庭收支調查_所得收入者各縣市別平均每人可支配所得></div>
        
        <h1 style="color: white;text-align: center;">稅收</h1>
        {% for tax in items.get("全國賦稅收入實徵淨額日曆年別_按稅目別與地區別分", []) %}
        <div id=全國賦稅收入實徵淨額日曆年別_按稅目別與地區別分_年_{{ tax }}></div>
        <div id=全國賦稅收入實徵淨額日曆年別_按稅目別與地區別分_月_{{ tax }}></div>
        {%- endfor %}
        {% for item in items.get("全國賦稅收入實徵淨額與預算數之比較", []) %}
        <div id=全國賦稅收入實徵淨額與預算數之比較_{{ item }}></div>
        {%- endfor %}

        <h1 style="color: white;text-align: center;">貿易</h1>
        <div id=出口貿易值_按洲別_國別分_CY2001__年></div>
        <div id=出口貿易值_按洲別_國別分_CY2001__月></div>
        <div id=進口貿易值_按洲別_國別分_CY2001__年></div>
        <div id=進口貿易值_按洲別_國別分_CY2001__月></div>
        <div id=進出口貿易值_按國際商品統一分類制度_HS_及主要國別分_年></div>
        <div id=進出口貿易值_按國際商品統一分類制度_HS_及主要國別分_月></div>
        <div id=出口值_按主要貨品分_年></div>
        <div id=出口值_按主要貨品分_月></div>
        <div id=貿易指數_進口單位價值指數_年></div>
        <div id=貿易指數_進口單位價值指數_月></div>
        <div id=貿易指數_出口單位價值指數_年></div>
        <div id=貿易指數_出口單位價值指數_月></div>
        <div id=貿易指數_出口數量指數_年></div>
        <div id=貿易指數_出口數量指數_月></div>
        <div id=貿易指數_進口數量指數_年></div>
        <div id=貿易指數_進口數量指數_月></div>

        <h1 style="color: white;text-align: center;">動物</h1>
        
        {% for item in items.get("全國公立動物收容所收容處理情形統計表", []) %}
        <div id=全國公立動物收容所收容處理情形統計表_{{ item }}></div>
        {%- endfor %}

        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
        {% for key,item in plots.items() %}
        <script src="./{{jsfolder}}/{{key}}.js"></script>
        {%- endfor %} 
    </body>
</html>