<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
    </head>
    <body bgcolor="#000000">
        <h1 style="color: white;text-align: center;">指數</h1>
        <div id=消費者物價基本分類指數_原始值></div>
        <div id=消費者物價基本分類指數_IRR></div>
        <div id=消費者物價基本分類指數_年增率></div>
        <div id=生產者物價基本分類指數_原始值></div>
        <div id=生產者物價基本分類指數_IRR></div>
        <div id=生產者物價基本分類指數_年增率></div>
        <div id=躉售物價基本分類指數_原始值></div>
        <div id=躉售物價基本分類指數_IRR></div>
        <div id=躉售物價基本分類指數_年增率></div>
        
        <h1 style="color: white;text-align: center;">所得支出</h1>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_當期價格></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_當期價格></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_連鎖實質值></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_連鎖實質值></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_原始值_平減指數></div>
        <div id=國民所得統計_國民所得_儲蓄與投資_季_年增率_平減指數></div>
        <div id=國民所得統計_常用資料_季_原始值></div>
        <div id=國民所得統計_常用資料_季_年增率></div>

        <div id=家庭收支調查_戶數五等分位之平均每戶所得總額></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶所得收入總計></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶非消費支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶可支配所得></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶消費支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶經常性支出></div>
        <div id=家庭收支調查_戶數五等分位之平均每戶儲蓄></div>
        <div id=家庭收支調查_戶數五等分位組之平均每戶人口數></div>
        <div id=家庭收支調查_戶數五等分位組之平均每戶就業人數></div>
        <div id=家庭收支調查_所得收入者五等分位平均每人可支配所得></div>

        <div id=家庭收支調查_家庭組織型態別平均每戶所得總額></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶所得收入總計></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶非消費支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶可支配所得></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶消費支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶經常性支出></div>
        <div id=家庭收支調查_家庭組織型態別平均每戶儲蓄></div>
        <div id=家庭收支調查_性別統計指標_家戶狀況按家庭組織型態分></div>

        <div id=家庭收支調查_各縣市別平均每戶所得總額></div>
        <div id=家庭收支調查_各縣市別平均每戶所得收入總計></div>
        <div id=家庭收支調查_各縣市別平均每戶非消費支出></div>
        <div id=家庭收支調查_各縣市別平均每戶可支配所得></div>
        <div id=家庭收支調查_各縣市別平均每戶消費支出></div>
        <div id=家庭收支調查_各縣市別平均每戶經常性支出></div>
        <div id=家庭收支調查_各縣市別平均每戶儲蓄></div>

        <div id=家庭收支調查_所得收入者各縣市別平均每人所得收入總計></div>
        <div id=家庭收支調查_所得收入者各縣市別平均每人非消費支出></div>
        <div id=家庭收支調查_所得收入者各縣市別平均每人可支配所得></div>
        
        <div id=主計總處統計專區_家庭收支調查_統計表_常用資料_平均每人月消費></div>
        <div id=主計總處統計專區_家庭收支調查_統計表_常用資料_平均每戶可支配所得></div>
        <div id=主計總處統計專區_家庭收支調查_統計表_常用資料_每戶可支配所得中位數></div>
        <div id=主計總處統計專區_家庭收支調查_統計表_常用資料_平均每人可支配所得></div>
        <div id=主計總處統計專區_家庭收支調查_統計表_常用資料_每人可支配所得中位數></div>

        <div id=家庭部門平均每戶資產負債></div>

        <div id=企業ESG資訊揭露彙總資料_人力發展_vs_公司合併報表董事酬金相關資訊></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_vs_公司合併報表董事酬金相關資訊_排序></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_vs_公司合併報表董事酬金相關資訊_產業></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_vs_公司合併報表董事酬金相關資訊_產業_排序></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_vs_公司合併報表董事酬金相關資訊_公司_產業_排序></div>
        
        <div id=企業ESG資訊揭露彙總資料_人力發展_非擔任主管職務之全時員工薪資></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_非擔任主管職務之全時員工薪資_排序></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_職業災害人數及比率></div>
        <div id=企業ESG資訊揭露彙總資料_人力發展_職業災害人數及比率_排序></div>

        <div id=歷年受僱員工每人每月總薪資_年></div>
        <div id=歷年受僱員工每人每月總薪資_月></div>

        <div id=歷年受僱員工每人每月經常性薪資_年></div>
        <div id=歷年受僱員工每人每月經常性薪資_月></div>

        <div id=各業廠商僱用職缺按月計薪者每人每月平均最低薪資_按職類及員工規模分></div>

        <div id=各業廠商調升經常性薪資參考各項因素之廠商比率_按行業分_視為第一重要因素之廠商比率_百分比></div>
        <div id=各業廠商調升經常性薪資參考各項因素之廠商比率_按行業分_視為重要因素之廠商比率_百分比></div>

        <div id=各業廠商調升員工經常性薪資之廠商與員工人數比率_按行業分_廠商比率></div>
        <div id=各業廠商調升員工經常性薪資之廠商與員工人數比率_按行業分_員工比率></div>
        <div id=各業廠商調升員工經常性薪資之廠商與員工人數比率_按行業分_調薪_歷史_有調升敘薪標準_不含年資晉級_百分比></div>
        <div id=各業廠商調升員工經常性薪資之廠商與員工人數比率_按行業分_調薪_歷史_有年資晉級_廠商比率_百分比></div>
        <div id=各業廠商調升員工經常性薪資之廠商與員工人數比率_按行業分_調薪_歷史_加計年資晉級_廠商調升經常性薪資比率_百分比></div>

        <div id=公司合併報表董事酬金相關資訊_董事酬金></div>
        <div id=公司合併報表董事酬金相關資訊_董事酬金_排序></div>
        <div id=公司合併報表董事酬金相關資訊_董事酬金_產業類別></div>
        <div id=公司合併報表董事酬金相關資訊_董事酬金_產業類別_排序></div>

        <div id=公司合併報表監察人酬金相關資訊_監察人酬金></div>
        <div id=公司合併報表監察人酬金相關資訊_監察人酬金_排序></div>
        <div id=公司合併報表監察人酬金相關資訊_監察人酬金_產業類別></div>
        <div id=公司合併報表監察人酬金相關資訊_監察人酬金_產業類別_排序></div>

        <div id=綜稅總所得各縣市申報統計分析表></div>
        <div id=綜稅綜合所得總額全國各縣市鄉鎮村里統計分析表></div>
        
        <h1 style="color: white;text-align: center;">稅收</h1>
        <div id=全國賦稅收入實徵淨額日曆年別_按稅目別與地區別分_年></div>
        <div id=全國賦稅收入實徵淨額日曆年別_按稅目別與地區別分_月></div>

        {% for item in items.get("全國賦稅收入實徵淨額與預算數之比較", []) %}
        <div id=全國賦稅收入實徵淨額與預算數之比較_{{ item }}></div>
        {%- endfor %}

        <h1 style="color: white;text-align: center;">貿易</h1>
        <div id=出口貿易值_按洲別_國別分_CY2001__年></div>
        <div id=出口貿易值_按洲別_國別分_CY2001__月></div>
        <div id=進口貿易值_按洲別_國別分_CY2001__年></div>
        <div id=進口貿易值_按洲別_國別分_CY2001__月></div>
        <div id=進出口貿易值_按國際商品統一分類制度_HS_及主要國別分_年></div>
        <div id=進出口貿易值_按國際商品統一分類制度_HS_及主要國別分_月></div>
        <div id=出口值_按主要貨品分_年></div>
        <div id=出口值_按主要貨品分_月></div>
        <div id=貿易指數_進口單位價值指數_年></div>
        <div id=貿易指數_進口單位價值指數_月></div>
        <div id=貿易指數_出口單位價值指數_年></div>
        <div id=貿易指數_出口單位價值指數_月></div>
        <div id=貿易指數_出口數量指數_年></div>
        <div id=貿易指數_出口數量指數_月></div>
        <div id=貿易指數_進口數量指數_年></div>
        <div id=貿易指數_進口數量指數_月></div>

        <h1 style="color: white;text-align: center;">人口</h1>

        <div id=村里戶數_單一年齡人口_新增區域代碼__年齡_縣市></div>

        <div id=現住人口性別_年齡_婚姻狀況_含同婚__女_年齡_婚姻_縣市></div>
        <div id=現住人口性別_年齡_婚姻狀況_含同婚__男_年齡_婚姻_縣市></div>
        <div id=現住人口性別_年齡_婚姻狀況_含同婚__男女_年齡_未婚></div>
        <div id=現住人口性別_年齡_婚姻狀況_含同婚__男女_年齡_單身></div>
        <div id=現住人口性別_年齡_婚姻狀況_含同婚__男女_年齡_未婚_縣市></div>
        <div id=現住人口性別_年齡_婚姻狀況_含同婚__男女_年齡_單身_縣市></div>

        <div id=動態資料統計表_含同婚__人口_出生_死亡_年></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_年月></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_男女_年></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_男女_年月></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_縣市_年></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_縣市_年月></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_縣市_男女_年></div>
        <div id=動態資料統計表_含同婚__人口_出生_死亡_縣市_男女_年月></div>
        <div id=動態資料統計表_含同婚__出生率_年></div>
        <div id=動態資料統計表_含同婚__出生率_年月></div>
        <div id=動態資料統計表_含同婚__死亡率_年></div>
        <div id=動態資料統計表_含同婚__死亡率_年月></div>
        <div id=動態資料統計表_含同婚__出生率_縣市_年></div>
        <div id=動態資料統計表_含同婚__出生率_縣市_年月></div>
        <div id=動態資料統計表_含同婚__死亡率_縣市_年></div>
        <div id=動態資料統計表_含同婚__死亡率_縣市_年月></div>
        <div id=動態資料統計表_含同婚__總和_人口數_年></div>
        <div id=動態資料統計表_含同婚__總和_人口數_年月></div>
        <div id=動態資料統計表_含同婚__總和_男女_人口數_年></div>
        <div id=動態資料統計表_含同婚__總和_男女_人口數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_人口數_年></div>
        <div id=動態資料統計表_含同婚__區域別_人口數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_男女_人口數_年></div>
        <div id=動態資料統計表_含同婚__區域別_男女_人口數_年月></div>
        <div id=動態資料統計表_含同婚__總和_出生數_年></div>
        <div id=動態資料統計表_含同婚__總和_出生數_年月></div>
        <div id=動態資料統計表_含同婚__總和_男女_出生數_年></div>
        <div id=動態資料統計表_含同婚__總和_男女_出生數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_出生數_年></div>
        <div id=動態資料統計表_含同婚__區域別_出生數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_男女_出生數_年></div>
        <div id=動態資料統計表_含同婚__區域別_男女_出生數_年月></div>
        <div id=動態資料統計表_含同婚__總和_死亡人數_年></div>
        <div id=動態資料統計表_含同婚__總和_死亡人數_年月></div>
        <div id=動態資料統計表_含同婚__總和_男女_死亡人數_年></div>
        <div id=動態資料統計表_含同婚__總和_男女_死亡人數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_死亡人數_年></div>
        <div id=動態資料統計表_含同婚__區域別_死亡人數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_男女_死亡人數_年></div>
        <div id=動態資料統計表_含同婚__區域別_男女_死亡人數_年月></div>
        <div id=動態資料統計表_含同婚__出生_結婚_離婚_年></div>
        <div id=動態資料統計表_含同婚__出生_結婚_離婚_年月></div>
        <div id=動態資料統計表_含同婚__出生_結婚_離婚_縣市_年></div>
        <div id=動態資料統計表_含同婚__出生_結婚_離婚_縣市_年月></div>
        <div id=動態資料統計表_含同婚__結婚率_年></div>
        <div id=動態資料統計表_含同婚__結婚率_年月></div>
        <div id=動態資料統計表_含同婚__離婚率_年></div>
        <div id=動態資料統計表_含同婚__離婚率_年月></div>
        <div id=動態資料統計表_含同婚__結婚率_縣市_年></div>
        <div id=動態資料統計表_含同婚__結婚率_縣市_年月></div>
        <div id=動態資料統計表_含同婚__離婚率_縣市_年></div>
        <div id=動態資料統計表_含同婚__離婚率_縣市_年月></div>
        <div id=動態資料統計表_含同婚__總和_結婚對數_年></div>
        <div id=動態資料統計表_含同婚__總和_結婚對數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_結婚對數_年></div>
        <div id=動態資料統計表_含同婚__區域別_結婚對數_年月></div>
        <div id=動態資料統計表_含同婚__總和_離婚對數_年></div>
        <div id=動態資料統計表_含同婚__總和_離婚對數_年月></div>
        <div id=動態資料統計表_含同婚__區域別_離婚對數_年></div>
        <div id=動態資料統計表_含同婚__區域別_離婚對數_年月></div>

        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__總和></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__區域別></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__婚姻類型></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__性別></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__原屬國籍></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__教育程度></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__年齡></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__女_年齡_縣市></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__男_年齡_縣市></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__女_年齡_教育></div>
        <div id=結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__男_年齡_教育></div>

        {% for item in items.get("結婚對數按婚姻類型_性別及年齡分_按登記_", []) %}
        <div id=結婚對數按婚姻類型_性別及年齡分_按登記__女_{{ item }}></div>
        <div id=結婚對數按婚姻類型_性別及年齡分_按登記__男_{{ item }}></div>
        {%- endfor %}
        <div id=結婚對數按婚姻類型_性別及年齡分_按登記__女_縣市></div>
        <div id=結婚對數按婚姻類型_性別及年齡分_按登記__男_縣市></div>

        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__總和></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__區域別></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__性別></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__原屬國籍></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__教育程度></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__年齡></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__年齡_縣市></div>
        <div id=嬰兒出生數按性別_生母原屬國籍_地區_年齡及教育程度分_按登記__年齡_教育></div>

        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__總和></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__區域別></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__性別></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__原屬國籍></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__教育程度></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__年齡></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__年齡_縣市></div>
        <div id=嬰兒出生數按性別_生父原屬國籍_地區_年齡及教育程度分_按登記__年齡_教育></div>

        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__總和></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__區域別></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__性別></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__生父年齡></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__生母年齡></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__生母年齡_縣市></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__生父年齡_縣市></div>
        <div id=嬰兒出生數按嬰兒性別及生父母年齡分_按登記__生母年齡_生父年齡></div>

        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__總和></div>
        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__區域別></div>
        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__身分></div>
        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__年齡></div>
        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__年齡_身分></div>
        <div id=嬰兒出生數按生母年齡及出生身分分_按登記__身分_縣市></div>

        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__總和></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__區域別></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__性別></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__胎次></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__年齡></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__年齡_胎次></div>
        <div id=嬰兒出生數按性別_胎次及生母年齡分_按登記__胎次_縣市></div>

        <div id=嬰兒出生數按嬰兒性別及出生胎別分_按登記__總和></div>
        <div id=嬰兒出生數按嬰兒性別及出生胎別分_按登記__區域別></div>
        <div id=嬰兒出生數按嬰兒性別及出生胎別分_按登記__性別></div>
        <div id=嬰兒出生數按嬰兒性別及出生胎別分_按登記__胎別></div>
        <div id=嬰兒出生數按嬰兒性別及出生胎別分_按登記__胎別_縣市></div>

        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__總和></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__區域別></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__婚姻類型></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__性別></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__原屬國籍></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__教育程度></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__年齡></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__女_年齡_縣市></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__男_年齡_縣市></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__女_年齡_教育></div>
        <div id=離婚_終止結婚人數按婚姻類型_性別_年齡_原屬國籍_地區_及教育程度分_按登記__男_年齡_教育></div>
        
        <h1 style="color: white;text-align: center;">動物</h1>
        
        {% for item in items.get("全國公立動物收容所收容處理情形統計表", []) %}
        <div id=全國公立動物收容所收容處理情形統計表_{{ item }}></div>
        {%- endfor %}

        <!-- Plotly.js -->
        <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
        {% for key,item in plots.items() %}
        <script src="./{{jsfolder}}/{{key}}.js"></script>
        {%- endfor %} 
    </body>
</html>
